@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap');

@media  (max-width: 3700px)  and (min-width: 3001px) {
    .nav {
min-height: 200px !important;
font-size: 2EM;
    }
    main {
        margin-top: 300px;
    }
    .maintitle {
        font-size: 7em;
    }
    .subtitle {
        font-size: 4em;
    }
    .arttitle {
        font-size: 5em;
    }
    .arttext {
        font-size: 1.7em;
    }
    .section1 {
        height: 1000px !important;
    }
    .section1 div img {
        min-height: fit-content
    }
    .text {
        font-size: 2.5em;
    }

    .footertitle {
       font-size: 4.5em;
     }
     .footerinfo {
        font-size: 2em
     }
     
     .about img {
        width: 100px;
     
     }
     .menu2 a {
        font-size: 4em;
        line-height: 100px;
     }
     .footerinfo a {  
        font-size: 3em !important;
     }
     .copyright {
        font-size: 1.5em;
     }
    
}
@media  (max-width: 3000px)  and (min-width: 2000px) {
    .nav {
        min-height: 200px !important;
        font-size: 2EM;
            }
            main {
                margin-top: 300px;
            }
            .maintitle {
                font-size: 6em;
            }
            .subtitle {
                font-size: 3em;
            }
            .arttitle {
                font-size: 5em;
            }
            .arttext {
                font-size: 1.4em;
            }
            .section1 {
                height: 1000px !important;
            }
            .section1 div img {
                min-height: fit-content
            }
            .text {
                font-size: 1.8em;
            }

        
            .footertitle {
               font-size: 3em;
             }
             .footerinfo {
                font-size: 1.5em
             }
             
             .about img {
                width: 100px;
             
             }
             .menu2 a {
                font-size: 3.5em;
                line-height: 90px;
             }
             .footerinfo a {  
                font-size: 2.5em !important;
             }
             .copyright {
                font-size: 1.5em;
             }
}
@media (max-width: 1999px) and (min-width: 1601px) {

}
@media (max-width: 1600px) and (min-width: 1280px) {

    .maintitle {
        font-size: 6em;
    }
    .subtitle {
        font-size: 3em;
    }
    .arttitle {
        font-size: 3em;
    }
    .arttext {
        font-size: .75em;
    }
    .text {
        font-size: 1.3em;
    }
    .all {
        display: grid; 
        grid-auto-rows: 1fr; 
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 8fr 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
          "title"
          "text"
          "footer"; 
      }
}
@media (max-width: 1279px) and (min-width: 1000px) {
      * {
          font-family: "Sedan SC", serif !important;
          font-weight: 400 !important;
          font-style: normal !important
} 
    .footer {
        position: absolute;
        bottom: 0;
    }
    .nav {
        font-size: .9em;
    }

    .maintitle {
        font-size: 4em;
    }
    .subtitle {
        font-size: 1em;
    }
    .arttitle {
        font-size: 2em;
    }
    .arttext {
        font-size: .8em;
    }
    .text {
        font-size: 1em;
    }
    .all {
        display: grid; 
        grid-auto-rows: 1fr; 
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 4.9fr 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
          "title"
          "text"
          "footer"; 
      }

}
@media (max-width: 1000px) and (min-width: 769px) {

    .maintitle {
        font-size: 3em;
    }
    .subtitle {
        font-size: 1em;
    }
    .arttitle {
        font-size: 1.5em;
    }
    .arttext {
        font-size: .6em;
    }
    .text {
        font-size: .8em;
    }
    .nav {
        background-size: 14% !important;
    }
    .all {
        display: grid; 
        grid-auto-rows: 1fr; 
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 3fr 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
          "title"
          "text"
          "footer"; 
      }
}
@media (max-width: 768px) and (min-width: 481px) {
    .nav {
        background-size: 18% !important;
    }
 
    .menu_mobile{
        display: inline-block !important;
        

      }
      footer {
        position: absolute;
        bottom: -200% !important;

      }
 
      
      .mobilemenu {
        min-width: 300px;
        min-height: 300px;
      }   
        .x3  {
            z-index: 9999999;
            right: 20px;
            top:  35px;
          height: 3px;
          width: 40px;
          background: rgb(89, 255, 67);
          display: block;
          margin-top: 1em;
          position: fixed;
          transition: tranform 0.3s ease-in-out, top 0.3s ease-in-out,
            opacity 0.3s ease-in-out;
    }
    .x3::before {
        content: "";
        position: absolute;
        height: 3px;
          width: 40px;
        top: -26px;
        background: rgb(89, 255, 67);
    }
    .x3::after {
        content: "";
        position: absolute;
        height: 3px;
          width: 40px;
        top: -13px;
        background: rgb(89, 255, 67);
        
    }
    .menum:checked:first-child {
            transform: rotate(45deg);
            top: 8px;
          }
      
          .menum:checked:last-child {
            transform: rotate(-45deg);
            top: -8px;
          }
      
      
     nav:first-of-type {
        
        width: 100%;
        
        padding:2em 7em;
        position: fixed;
        left: -300%;
        box-sizing: border-box;
        transition: left 0.2s ease-in;
      
    .menum:checked ~ & {
          left: 0;
        }
      
    ul {
        position: absolute;
        left: 0;
        top: -50px !important;
          list-style-type: none;
          margin: 0;
          z-index: 999999999;
          padding: 8em 45vw 100em 0em;
          background-color: rgb(0, 0, 0);

    }
    ul li {
       
    margin-bottom: 10px;
    border-bottom: #535353 solid 3px;
    }
    ul li a {
      text-decoration: none;
        color: green;
        font-size: 4em;
        font-family: cursive;
        padding: .4em 5em  0 0em ;
            }
          }
          ul li a:hover {
          background-color: azure;
          border-radius: 0% 2em 2em 0%;
          }


        .maintitle {
            font-size: 3em;
        }
        .subtitle {
            font-size: 1em;
        }
        .arttitle {
            font-size: 1.5em;
        }
        .arttext {
            font-size: .35em;
        }
        .text {
            font-size: .6em;
        }
        .section1 {
            max-height: 300px !important;
        }
        
        .section2 {
            display: block !important;
            margin-bottom: 700px !important;
        }
    .footertitle {
        font-size: .6em;
      }
      .footerinfo {
         font-size: .4em
      }
      
      .about img {
         width: 30px;
      
      }
      .menu2 a {
         font-size: 2em;
         line-height: 100px;
      }
      .footerinfo a {  
         font-size: 2em !important;
      }
      .copyright {
         font-size: .3em;
      }
      .bgchangee {
        margin-right: 20% !important;
     
    }
    * {
        font-family: "Sedan SC", serif !important;
        font-weight: 400 !important;
        font-style: normal !important;
}
     
    
}
@media (max-width: 480px) {
    .nav {
        background-size: 25% !important;
    }
    * {
        font-family: "Sedan SC", serif !important;
        font-weight: 400 !important;
        font-style: normal !important;
}

.main {
    width: 100% !important;
}

.bgchangee {
    margin-right: 20% !important;
 
}
    
    .menu_mobile{
        display: inline-block !important;
        

      }
 
      
      .mobilemenu {
        min-width: 300px;
        min-height: 300px;
      }   
        .x3  {
            z-index: 9999999;
            right: 20px;
            top:  35px;
          height: 3px;
          width: 40px;
          background: rgb(89, 255, 67);
          display: block;
          margin-top: 1em;
          position: fixed;
          transition: tranform 0.3s ease-in-out, top 0.3s ease-in-out,
            opacity 0.3s ease-in-out;
    }
    .x3::before {
        content: "";
        position: absolute;
        height: 3px;
          width: 40px;
        top: -26px;
        background: rgb(89, 255, 67);
    }
    .x3::after {
        content: "";
        position: absolute;
        height: 3px;
          width: 40px;
        top: -13px;
        background: rgb(89, 255, 67);
        
    }
    .menum:checked:first-child {
            transform: rotate(45deg);
            top: 8px;
          }
      
          .menum:checked:last-child {
            transform: rotate(-45deg);
            top: -8px;
          }
      
      
          nav:first-of-type{
        
        width: 100%;
        
        padding:2em 7em;
        position: fixed;
        left: -300%;
        box-sizing: border-box;
        transition: left 0.2s ease-in;
      
    .menum:checked ~ & {
          left: 0;
        }
      
    ul {
        position: absolute;
        left: 0;
        top: -50px !important;
          list-style-type: none;
          margin: 0;
          z-index: 999999999;
          padding: 8em 45vw 100em 0em;
          background-color: rgb(0, 0, 0);

    }
    ul li {
       
    margin-bottom: 10px;
    border-bottom: #535353 solid 3px;
    }
    ul li a {
      text-decoration: none;
        color: green;
        font-size: 3em;
        font-family: cursive;
        padding: .4em 5em  0 0em ;
            }
          }
          ul li a:hover {
          background-color: azure;
          border-radius: 0% 2em 2em 0%;
          }
 
        .maintitle {
            font-size: 2em;
        }
        .subtitle {
            font-size: .7em;
        }
        .arttitle {
            font-size: 1em;
        }
        .arttext {
            font-size: 5px;
        }
        .text {
            font-size: .45em;
        }
        .section1 {
            max-height: 300px !important;
        }
        
    .footertitle {
        font-size: .6em;
      }
      .footerinfo {
         font-size: .4em
      }
      
      .about img {
         width: 20px;
      
      }
      .menu2 a {
         font-size: 2em;
         line-height: 100px;
      }
      .footerinfo a {  
         font-size: 2em !important;
      }
      .copyright {
         font-size: .3em;
      }
     
}
